@{
    ViewBag.Title = "Detail";
}

<div class="divBig">
    <div class="divCover">
        <div id="divCoverImage">
            <img id="coverImage" src="BookCover.jpg" />
        </div>
        <div id="divCoverButton">
            <button class="myButton" onclick="location.href='HomePage/Index'">Home</button>
            <button class="myButton">About</button>
        </div>
    </div>
    <div class="divContent">
        <div id="divLeft">
            <div id="divContentLogin">
                <form class="loginForm">
                    <input type="text" placeholder="User name" class="loginTextbox"><br>
                    <input type="password" placeholder="******" class="loginTextbox"><br>
                    <input type="submit" value="Sign In" id="loginSignIn"><br>
                </form>
            </div>
            <div id="divContentCategory">
                <div id="divCategoryHeader">
                    Categories
                </div>
                <div id="divCategoryConten">
                    <ul id="category">
                        <a href="All.html"><li>All</li></a>
                        <a href="HomePage.html"><li>Children books</li></a>
                        <a href="HomePage.html"><li>Bussiness books</li></a>
                        <a href="HomePage.html"><li>Literature books</li></a>
                        <a href="HomePage.html"><li>Music books</li></a>
                        <a href="HomePage.html"><li>Technology books</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div id="divContentNews">
            <div class="myNewsItem" style="border-width: 0px">
                <div class="myNewsHeader"> Trump University - Triết Lý Doanh Nghiệp 101</div>
                <div class="myNewsContent" style="height: 300px">
                    Bộ sách Trump University tuyển tập các cuốn sách viết về kinh doanh thiết thực và dễ hiểu. Mỗi cuốn sách là thành quả sáng tạo của một chuyên gia hàng đầu, trong đó lời tựa được viết với chính bầu nhiệt huyết của Donald Trump
                    Với những hướng dẫn tỉ mỉ và những bảng tính dễ sử dụng, Làm thế nào sử dụng những ý tưởng Marketing hiệu quả nhất để thu hút khách hàng mang đến một cái nhìn thực tế về marketing và hỗ trợ tất cả những ai muốn tăng doanh thu, lợi nhuận, đồng tiền và RIO của doanh nghiệp mình. Dưới sự hướng dẫn của Don Sexton, bạn sẽ tự mình khám phá những chiến lược kinh doanh hiệu quả cũng như làm chủ chúng để tăng doanh thu, lợi nhuận, xây dựng thương hiệu và niềm tin của khách hàng.
                    Được viết với mục đích vừa như một cuốn sách vỡ lòng vừa như một cuốn sách hướng dẫn cho các khoá học marketing trong trường Đại học Trump, Làm thế nào sử dụng những ý tưởng Marketing hiệu quả nhất để thu hút khách hàng cung cấp tất cả các thông tin và chiến lược cần thiết để marketing thành công sản phẩm hoặc dịch vụ. Dù bạn bán cái gì và bán như thế nào, bạn điều hành một doanh nghiệp nhỏ hay một tập đoàn lớn, cuốn sách hướng dẫn đầy đủ và toàn diện này giải thích tất cả những điều bạn nên biết về marketing hiện đại.
                    Và cuối cùng, tính thực tế - mà có lẽ quan trọng nhất với mỗi doanh nghiệp và doanh nhân Việt Nam, cuốn sách này đã chia sẻ một cách chi tiết những bí quyết về marketing du kích, nơi những doanh nghiệp với nguồn lực tài chính hạn chế có thể làm nên một cuộc soán ngôi ngoạn mục với những đối thủ khổng lồ. Mỗi doanh nhân Việt Nam đều cảm nhận thấy đâu đó trong cuốn sách này những tình huống, những khó khăn và thách thức của chính mình cùng với những giải pháp, chiến lược đầy sáng tạo và táo bạo của Donald Trump - con người của suy nghĩ lớn, hành động lớn.
                </div>
                <div class="myNewsAthour" style="margin-bottom: 10px">
                    <label class="labelBold">Tác giả: </label>
                    <label class="labelAthour">Michael E. Golden</label>
                    <br>
                    <label class="labelBold">Ngày phát hành: </label>
                    <label class="labelAthour">5-5-2000</label>
                </div>
                <div>
                    <img class="myBookImage" src="TrumpUniversity.jpg" style="height: 170px;float:left">
                </div>
            </div>
        </div>
    </div>
    <div id="divFooter"></div>
</div>