
@model IEnumerable<Prepool_k21_BookStore.Models.Book>
@{
    ViewBag.Title = "Book List";
}

@foreach (var item in Model)
{
        <div class="myNewsItem">
            <div class="myNewsHeader">@Html.ActionLink(item.Title, "Details","Books",new { id= item.ID},htmlAttributes:null)</div>
            <div class="myNewsDescription">@Html.DisplayFor(modelItem => item.Description)</div>
            <div class="myNewsAthour">
                <label class="labelBold">Tác giả: </label>
                <label class="labelAthour">@Html.DisplayFor(modelItem => item.Author)</label>
                <br>
                <label class="labelBold">Ngày phát hành: </label>
                <label class="labelAthour">@Html.DisplayFor(modelItem => item.PublishDate)</label>
            </div>
        </div>
}