@using Prepool_k21_BookStore.Models
@{
    var categories = new BookDb().Categories.ToList() ;
}
<ul id="category">
   @foreach (var item in categories)
   {
        <a href="#" onclick="myFunction(this.text)"><li>@Html.DisplayFor(modelItem => item.Name)</li></a>
   }
</ul>